<html xmlns:layout="http://www.thymeleaf.org" layout:decorate="~{layouts/leftmenu-layout}">
  <head>
    <title>Section Menu - Item 1</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Section 1 - Item 1</h1>
      <div>
        This content will be included in the "content" div of the template.
      </div>
      <div>
        Language: <span data-th-text="#{lang}">lang</span>
      </div>
      <div>
        This screen, nav.html, uses <b>layout:decorate="layouts/leftmenu-layout"</b>
      </div>
    </div>
  </body>
</html>